@import "tailwindcss";

* {
  font-family: "Montserrat";
}
/* -------Navbar------ */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Custom components */
@layer components {
  .sub-menu {
    @apply absolute top-[4.2rem] p-[15px] rounded-[6px] origin-[50%_-170px];
    @apply backdrop-blur bg-white/[0.04] z-10;
  }
}

/* Custom utility classes */
@layer utilities {
  .flex-center {
    @apply flex items-center;
  }

  .flex-center-between {
    @apply flex items-center justify-between;
  }
}
















::-webkit-scrollbar {
  display: none;
}
/* -------------------client logo scroll---------------- */
.logo-scroll {
  height: 200%;
  animation: scrollVertical 30s linear infinite;
}
@keyframes scroll-up {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-50%);
  }
}

.animate-scroll-up {
  animation: scroll-up 30s linear infinite;
}
/* client  Testimonial */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 75s linear infinite;
}
body {
  cursor: url('/cursor.cur') !important;
  cursor: -webkit-image-set(url('/cursor.cur') 1x, url('/cursor.png') 2x) !important;
}
